* {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
    border-bottom: #444 1px solid;
    margin-top: 16px;
    margin-bottom: 16px;
}

p {
    line-height: 28px;
}

a {
    color: #000;
    text-decoration: none;
    border-bottom: #000 1px solid;
}

#app {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

#app>.side,
#app>.content {
    height: 100vh;
}

#app>.side {
    width: 400px;
}

#app>.content {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 32px 16px 16px 16px;
    position: relative;
}

#index-bar {
    position: fixed;
    top: 0;
    height: 60px;
    width: calc(100vw - 400px);
    margin-left: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    cursor: pointer;
    background-color: #000;
    color: #FFF;
    transition: opacity .3s;
    z-index: 10;
}

#index-bar:hover {
    opacity: 0.35;
}

#index {
    position: fixed;
    top: 0;
    height: 100vh;
    width: calc(100vw - 400px);
    margin-left: -16px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
    overflow-x: hidden;
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 32px;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    color: #FFF;
    font-size: 20px;
}

#index.show {
    pointer-events: unset;
    opacity: 1;
}

#index-close {
    margin-bottom: 16px;
    cursor: pointer;
}

#index a {
    color: #FFF;
    border-bottom: unset;
    font-weight: 300;
}

#skin-show {
    width: 400px;
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
    flex-direction: column;
    position: relative;
}

#skin-show[data-url] {
    cursor: pointer;
}

#skin-show::before {
    content: "⭳ 下载 / DOWNLOAD ⭳";
    position: absolute;
    top: 16px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    opacity: 0;
    transition: opacity .3s;
}

#skin-show[data-url]:hover::before {
    opacity: 0.35;
}

.skin-block {
    width: 100px;
    height: 100px;
    position: relative;
    transform-style: preserve-3d;
	position: fixed;
}

.skin-block.front {
    transform: rotateX(-35deg) rotateY(45deg) rotateZ(0deg);
    margin-bottom: 200px;
}

.skin-block.back {
    transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg);
    margin-top: 200px;
}

.skin-block.front.outside {
    transform: rotateX(-35deg) rotateY(45deg) rotateZ(0deg) scale3d(1.1, 1.1, 1.1);
}

.skin-block.back.outside {
    transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg) scale3d(1.1, 1.1, 1.1);
}

.skin-block.front.outside.outside-back {
    transform: rotateX(35deg) rotateY(45deg) rotateZ(0deg) scale3d(1.1, 1.1, 1.1);
}

.skin-block.back.outside.outside-back {
    transform: rotateX(-35deg) rotateY(45deg) rotateZ(0deg) scale3d(1.1, 1.1, 1.1);
}

.skin-block>div {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
	top: 0;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 800%;
}

/* .skin-block .top,
.skin-block .bottom {
    background-color: #AAFFAA;
}

.skin-block .left,
.skin-block .right {
    background-color: #FFAAAA;
}

.skin-block .front,
.skin-block .back {
    background-color: #AAAAFF;
} */

.skin-block .top {
    transform: rotateX(90deg) translateZ(50px);
    background-image: var(--skin);
    background-position: -100px 0;
}

.skin-block.outside .top {
    background-position: -500px 0;
}

.skin-block .front {
    transform: translateZ(50px);
    background-image: var(--skin);
    background-position: -100px -100px;
}

.skin-block.outside .front {
    background-position: -500px -100px;
}

.skin-block.outside.outside-back .front {
    transform: rotateY(90deg) translateZ(-50px);
}

.skin-block .left {
    transform: rotateY(-90deg) translateZ(50px);
    background-image: var(--skin);
    background-position: 0px -100px;
}

.skin-block.outside .left {
    background-position: -400px -100px;
}

.skin-block.outside.outside-back .left {
    transform: rotateY(180deg) translateZ(-50px);
}

.skin-block .bottom {
    transform: rotateX(-90deg) translateZ(50px);
    background-image: var(--skin);
    background-position: -200px 0;
}

.skin-block.outside .bottom {
    background-position: -600px -0;
}

.skin-block .back {
    transform: translateZ(50px);
    background-image: var(--skin);
    background-position: -300px -100px;
}

.skin-block.outside .back {
    background-position: -700px -100px;
}

.skin-block.outside.outside-back .back {
    transform: rotateY(90deg) translateZ(-50px);
}

.skin-block .right {
    transform: rotateY(-90deg) translateZ(50px);
    background-image: var(--skin);
    background-position: -200px -100px;
}

.skin-block.outside .right {
    background-position: -600px -100px;
}

.skin-block.outside.outside-back .right {
    transform: rotateY(180deg) translateZ(-50px);
}

.skin-info {
    box-sizing: border-box;
    padding: 16px;
    height: 60px;
    background-color: #EEE;
}

.skin-title {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

#skin-list {
    padding: 16px;
}

.skin-list-item {
    box-sizing: border-box;
    width: 120px;
    height: 180px;
    box-shadow: 0px 1px 5px #AAA;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    cursor: pointer;
    transition: box-shadow .15s;
}

.skin-list-item:hover {
    box-shadow: 0px 3px 10px #AAA;
}

.skin-list-item .img {
    width: 120px;
    height: 120px;
    background-color: #EEE;
    position: relative;
}

.skin-list-item .img .p1,
.skin-list-item .img .p2 {
    width: 120px;
    height: 120px;
    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 800%;
    position: absolute;
    top: 0;
    left: 0;
}

.skin-list-item .img .p1 {
    background-position: -120px -120px;
}

.skin-list-item .img .p2 {
    background-position: -600px -120px;
}

.skin-list-item .name {
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    justify-content: center;
    text-align: center;
    font-size: 12px;
}

.footer {
    padding: 16px;
    box-sizing: border-box;
}